@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.base-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 80px; /* height of your footer */
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.my-style-icon {
    color: white !important;
    text-decoration: none !important;
}

.white-background {
    background: white;
}

.navbar-brand {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 1px #aaa;
    font-weight: 500;
}

.navbar-custom {
    background-color: #28282a;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.body-block-container {
    padding: 0px 100px 0px 100px;
    margin-top: 20px;
}

.body-block-analyze {
    -webkit-box-shadow: 3px 3px 5px 5px #fff;
    -moz-box-shadow: 3px 3px 5px 5px #fff;
    box-shadow: 6px 12px 4px #fff;
}

.upload-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.predict_btn_prop {
    margin-top: 10px;
    width: 22vw;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
}

.style-image {
    height: 300px;
    width: 300px;
}