.base-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 80px; /* height of your footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.my-style-icon {
    color: white !important;
    text-decoration: none !important;
}

.white-background {
    background: white;
}