{% extends 'main/base.html' %}

{% load static %}

{% block content %}

    <div class=container">
        {% if predictions %}
            {% for prediction in predictions %}
                <div class="card shadow p-3 mt-4 bg-white rounded border-dark">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class="card-img style-image img-responsive img-thumbnail"
                                 src="{{ prediction.uploaded_image_url }} ">
                        </div>
                        <div class="col-md-4">
                            <img class="card-img style-image img-responsive img-thumbnail"
                                 src="{{ prediction.processed_image_url }}">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <h1>Diagnosis: </h1> {{ prediction.get_diagnosis_display }}
                                <h1>Date: </h1> {{ prediction.date_created }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>No history to display</h1>
        {% endif %}
    </div>

{% endblock %}