{% extends 'main/base.html' %}

{% load static %}

{% block content %}

    <div class="mt-4 mb-4 d-flex align-items-center">
        <div class="container">
            <div class="card text-center shadow-lg rounded border-dark">
                <div class="card-header">
                    Upload an X-Ray image for prediction
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img class="m-3 card-img-top container justify-content-center img-responsive img-thumbnail"
                             id="image"
                             src="{% static 'images/default_image.gif' %}" alt="Card image cap">
                    </div>
                    <div class="col-md-6 upload-block">
                        <div class="card-body">
                            <form id="submit_image_form" method="POST" action="{% url 'main:result' %}"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <label class="btn btn-success col-md-12">
                                        Browse an image to upload  <input id="img_upload" type="file" name="image" accept="image/*"
                                                           hidden>
                                    </label>
                                </div>
                            </form>
                            <div class="row predict_btn_prop" >
                                <button id="predict_btn" class="btn btn-primary col-12 hide">Predict</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'main/modal.html' %}

{% endblock %}